@model UserCreateModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-4">
    <form asp-action="SignUp" asp-controller="User" method="post" class="p-4 w-25 mx-auto border border-primary rounded bg-light">
        <div class="mb-5">
            <label class="form-label fw-bold fs-5 d-block text-center">ÜCRETSİZ ÜYE OL</label>
        </div>
       <div class="mb-3">
           <label class="form-label">Ad: </label>
           <input asp-for="@Model.Firstname" class="form-control"/>
       </div>
        <div class="mb-3">
            <label class="form-label">Soyad: </label>
            <input asp-for="@Model.Surname" class="form-control" />
        </div>
        <div class="mb-3">
           <label class="form-label">Kullanıcı Adı: </label>
           <input asp-for="@Model.Username" class="form-control"/>
       </div>
        <div class="mb-3">
            <label class="form-label">Telefon: </label>
            <input asp-for="@Model.PhoneNumber" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Mail: </label>
            <input asp-for="@Model.Email" class="form-control" type="email" />
        </div>
        <div class="mb-3">
            <label class="form-label">Şifre: </label>
            <input asp-for="@Model.Password" class="form-control" type="password" />
        </div>
        <div class="mb-3 text-end">
            <button type="submit" class="btn btn-success btn-lg w-100">Üye Ol</button>
        </div>
        <div class="text-danger" asp-validation-summary="All">

        </div>
    </form>
</div>


