@model IPagedList<MakeListDto>

@{
	Layout = "_AdminLayout";
}

@if(ViewBag.Error != null)
{
	<div class="text-center alert alert-danger mt-3">
		@ViewBag.Error
	</div>
}

<div class="text-end p-1 mt-3">
	<a class="btn btn-success btn-lg" asp-action="Create" asp-controller="Make">Yeni Marka</a>
</div>
<div>
	@if (Model.Count > 0)
	{
		<table class="mt-3 table table-sm table-hover table-striped table-bordered" style="border-radius:10px; overflow:hidden;">
			<thead>
				<tr>
					<th class="col-2 py-4 text-center">Marka No</th>
					<th class="col-7 py-4 text-center">Marka Adı</th>
					<th colspan="2" class="col-3 py-4 text-center">İşlem</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var make in Model)
				{
					<tr class="detail" data-href="@Url.Action("Update", "Make", new { id = make.Id })">
						<td class="align-middle text-center">@make.Id</td>
						<td class="align-middle text-center">@make.Definition</td>
						<td class="align-middle text-center"><a asp-action="Update" asp-controller="Make" asp-route-id="@make.Id" class="btn btn-primary">Düzenle</a></td>
						@if(make.Advertisements.Count == 0 && make.Models.Count == 0)
						{
							<td class="align-middle text-center"><a asp-action="Delete" asp-controller="Make" asp-route-id="@make.Id" class="btn btn-danger">Sil</a></td>
						}
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<div class="mt-3 text-center lead alert alert-danger">
			Marka bulunamadı.
		</div>
	}
</div>
<div>
	@Html.PagedListPager(Model, page => Url.Action("List", new { page }), new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
	{
		LiElementClasses = new List<string>
		{"page-link"}
	})
</div>
